#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 > #backgroundBox {
  position: absolute;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 > #alignmentBox {
  position: relative;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_3 {
  position: absolute;
  width: 855.0px;
  min-height: 261.00000000000017px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_3 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_3 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #EEEEEE;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_3 > .borderLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_3 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_4 {
  position: absolute;
  width: 879.9999999999998px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_4 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_1 {
  position: absolute;
  width: 301.0px;
  min-height: 1024.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_1 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #151040;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_2 {
  position: absolute;
  width: 879.9999999999998px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_2 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Image_1 {
  position: absolute;
  width: 127.99999999999989px;
  height: 122.5570228091236px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Image_1 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_4 {
  position: absolute;
  width: 198.32031249999952px;
  min-height: 48.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_4 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_2 {
  position: absolute;
  width: 300.9999999999998px;
  min-height: 74.18727490996378px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_2 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #03030A;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_7 {
  position: absolute;
  width: 226.3203124999999px;
  min-height: 60.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_7 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: right;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_7 span {
  color: #C6C6FF;
  text-align: right;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #C6C6FF;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_3 {
  position: absolute;
  width: 300.9999999999998px;
  min-height: 74.18727490996378px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_3 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #111027;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_8 {
  position: absolute;
  width: 635.5345458984377px;
  min-height: 92.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_8 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: center;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_4 {
  position: absolute;
  width: 300.9999999999998px;
  min-height: 74.18727490996378px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_4 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #111027;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_5 {
  position: absolute;
  width: 300.9999999999998px;
  min-height: 74.18727490996378px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_5 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_5 > .backgroundLayer > .colorLayer {
  background-color: #111027;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_8 {
  position: absolute;
  width: 300.9999999999998px;
  min-height: 74.18727490996378px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_8 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: #111027;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_9 {
  position: absolute;
  width: 300.9999999999998px;
  min-height: 74.18727490996378px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_9 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_9 > .backgroundLayer > .colorLayer {
  background-color: #111027;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_9 span#rtr-s-Button_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_6 {
  position: absolute;
  width: 300.9999999999998px;
  min-height: 74.18727490996378px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_6 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: #111027;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_9 {
  position: absolute;
  width: 247.9199218750004px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_9 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Input_2 {
  position: absolute;
  width: 518.0px;
  height: 92.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Input_2 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Input_2 .valign {
  vertical-align: middle;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Input_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_7 {
  position: absolute;
  width: 220.99999999999977px;
  min-height: 52.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_7 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_7 > .backgroundLayer {
  border-radius: 22px 22px 22px 22px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: #464097;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_7 > .borderLayer {
  border-radius: 22px 22px 22px 22px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_7 > .backgroundLayer {
  border-radius: 22px 22px 22px 22px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_7 span {
  color: #FDFDFD;
  text-align: center;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #FDFDFD;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_10 {
  position: absolute;
  width: 220.99999999999977px;
  min-height: 52.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_10 {
  box-shadow: none;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_10 > .backgroundLayer {
  border-radius: 22px 22px 22px 22px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_10 > .backgroundLayer > .colorLayer {
  background-color: #464097;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_10 > .borderLayer {
  border-radius: 22px 22px 22px 22px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_10 > .backgroundLayer {
  border-radius: 22px 22px 22px 22px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_10 span {
  color: #FDFDFD;
  text-align: center;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 #s-Button_10 span#rtr-s-Button_10_0 {
  color: #FDFDFD;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-893ccb3f-2613-47b2-9ee9-69b636dbddd1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
