#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  position: absolute;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  position: absolute;
  width: 301.0px;
  min-height: 1024.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #151040;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  position: absolute;
  width: 227.3203124999999px;
  min-height: 201.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 {
  position: absolute;
  width: 879.9999999999997px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 {
  position: absolute;
  width: 218.3203125px;
  min-height: 69.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Black',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 {
  position: absolute;
  width: 220.99999999999977px;
  min-height: 64.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .backgroundLayer {
  border-radius: 22px 22px 22px 22px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #464097;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .borderLayer {
  border-radius: 22px 22px 22px 22px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .backgroundLayer {
  border-radius: 22px 22px 22px 22px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span {
  color: #FDFDFD;
  text-align: center;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FDFDFD;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  position: absolute;
  width: 127.99999999999989px;
  height: 122.5570228091236px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 {
  position: absolute;
  width: 247.3203125px;
  min-height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 {
  position: absolute;
  width: 214.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 .valign {
  vertical-align: middle;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 {
  position: absolute;
  width: 229.0px;
  height: 232.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 {
  position: absolute;
  width: 345.32031249999955px;
  min-height: 48.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 {
  position: absolute;
  width: 214.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 .valign {
  vertical-align: middle;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 {
  position: absolute;
  width: 107.919921875px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 {
  position: absolute;
  width: 169.91992187499977px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 {
  position: absolute;
  width: 300.9999999999998px;
  min-height: 74.18727490996378px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'CHICKEN Pie',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #03030A;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'CHICKEN Pie',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
